@{ ViewData["Title"] = "Contact Us"; }

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/5d31a767e2.js" crossorigin="anonymous"></script>

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="contact-us-container">
    <div class="contact-us-inner">
        <div>
            If you need any extra help with creating a quote or altering your contract, please don't hesitate to contact us
            using one of the channels below and a member of our team will get back you within 2 working days.
        </div>

        <div>By Email: abc_helpteam@abcenergy.co.uk</div>
        <div>By Phone: 0114 123 4567</div>

    </div>


    <span class="contact-img" style="color: cadetblue;">
        <i class="far fa-question-circle fa-10x"></i>
    </span>

</div>
